<div class="taekwondo-outside">
  Taekwondo<br>Mestre Mano
</div>

<div class="graduation-container">

  <div class="taekwondo-inside">
    Taekwondo<br>Mestre Mano
  </div>

  <div class="graduation-container-header">

    <h1
      class="graduation-container-header-title"
    >
      Graduações (Faixas):
    </h1>

    <p
      class="graduation-container-header-abstract"
    >
      Graduações do Taekwondo e seus respectivos conhecimentos, necessários para realização dos exames de faixa.
    </p>

  </div>

  <div class="graduation-container-belts">

    <button
      (click)="goToTenthgub()"
      id="white"
      class="graduation-container-belts-button"
    >
      10° Gub - Faixa Branca
    </button>

    <button
      (click)="goToNingthgub()"
      id="gray"
      class="graduation-container-belts-button"
    >
      9° Gub - Faixa Cinza
    </button>

    <button
      (click)="goToEighthgub()"
      id="yellow"
      class="graduation-container-belts-button"
    >
      8° Gub - Faixa Amarela
    </button>

    <button
      (click)="goToSeventhgub()"
      id="orange"
      class="graduation-container-belts-button"
    >
      7° Gub - Faixa Laranja
    </button>

    <button
      (click)="goToSixthgub()"
      id="lightgreen"
      class="graduation-container-belts-button"
    >
      6° Gub - Faixa Verde Claro
    </button>

  </div>

</div>
