@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.graduation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
  max-width: 40rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(44, 62, 80, 0.1);
}

.graduation-container-header {
  margin-bottom: 1rem;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.graduation-container-header-title {
  font-weight: 700;
  font-size: 2.6rem;
  color: #fff;
  letter-spacing: 0.05em;
}

.graduation-container-header-abstract {
  text-align: justify;
  max-width: 75%;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  font-style: italic;
  letter-spacing: 0.05em;
}

.graduation-container-belts {
  margin-bottom: 1rem;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.graduation-container-belts-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.8rem auto;
  width: 15rem;
  max-width: 100%;
  font-weight: 700;
  font-size: 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}

#white {
  background-color: #ffffff;
}

#gray {
  background-color: #808080;
}

#yellow {
  background-color: #eded01;
}

.graduation-container-belts-button:hover,
.graduation-container-belts-button:focus {
  transform: scale(1.05);
  outline: none;
}

.taekwondo-inside {
  display: none;
}

.taekwondo-outside {
  padding: 1rem;
  font-size: 4rem;
  color: #e0e0e0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: linear-gradient(90deg, #ff0000, #ffffff, #0000ff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s infinite linear;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  font-family: 'Anton', sans-serif;
}

@keyframes gradientMove {
  0% { background-position: 0% }
  100% { background-position: 200% }
}

@media screen and (max-width: 720px) {
  .graduation-container {
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 20rem;
  }

  .graduation-container-header-title{
    font-size: 2rem;
  }

  .graduation-container-header-abstract {
    text-align: justify;
    font-size: 1rem;
    max-width: 100%;
    letter-spacing: 0;
  }

  .graduation-container-belts-button{
    font-size: 0.8rem;
    width: 12rem;
  }

  .taekwondo-inside {
    display: block;
    padding: 1rem;
    font-size: 2.5rem;
    color: #e0e0e0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: linear-gradient(90deg, #ff0000, #ffffff, #0000ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 6s infinite linear;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: 'Anton', sans-serif;
  }

  .taekwondo-outside {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .graduation-container {
    padding: 0.8rem 0.8rem;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 16rem ;
  }

  .graduation-container-header-title {
    font-size: 1.5rem;
  }

  .graduation-container-header-abstract {
    font-size: 0.8rem;
  }

  .taekwondo-inside {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    color: #e0e0e0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: linear-gradient(90deg, #ff0000, #ffffff, #0000ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 6s infinite linear;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: 'Anton', sans-serif;
  }

  .taekwondo-outside {
    display: none;
  }
}
