<div class="taekwondo-outside">
  Taekwondo<br>Mestre Mano
</div>

<div class="graduation-container">

  <div class="taekwondo-inside">
    Taekwondo<br>Mestre Mano
  </div>

  <div class="graduation-container-header">

    <h1 class="graduation-container-header-title">Graduações:</h1>

    <p class="graduation-container-header-abstract">Graduações do Taekwondo e seus respectivos conhecimentos, necessários para realização dos exames de faixa no Centro de Treinamento Aliança.</p>

  </div>

  <div class="graduation-container-belts">

    <button (click)="goToDecimogub()" id="white" class="graduation-container-belts-button">10° Gub - Faixa Branca</button>
    <button (click)="goToNonogub()" id="gray" class="graduation-container-belts-button">9° Gub - Faixa Cinza</button>
    <button (click)="goToOitavogub()" id="yellow" class="graduation-container-belts-button">8° Gub - Faixa Amarela</button>

  </div>

</div>
