<div class="belts-container">

  <h1>10° Gub - Faixa Branca (Nascimento)</h1>

  <div>

    <h2>Técnica Principal:</h2>
    <ul>
      <li><b>Saju Ap Chagi</b> - Chute frontal em quatro direções.</li>
    </ul>

  </div><hr>

  <div>

    <h2>Kibon Jase <span>(기본 자세)</span> (Posições básicas):</h2>
    <ul>
      <li><b>Moa Sogi</b> - Base com os pés juntos.</li>
      <li><b>Ap Chuk Moa Sogi</b> - Base com a frente dos pés juntas.</li>
      <li><b>Dwi Chuk Moa Sogi</b> - Base com os calcanhares juntos.</li>
      <li><b>Pioni Sogi</b> - Base com os pés paralelos afastados na largura da cintura.</li>
    </ul>

  </div><hr>

  <div>

    <h2>Kibon Dongjak <span>(기본 동작)</span> (Movimentos básicos):</h2>

    <h3>Bal Ki Sul <span>(발기슬)</span> (Técnicas de Ataque com as Pernas):</h3>
    <ul>
      <li><b>Bandal Chagi</b> - Chute em meia-lua.</li>
      <li><b>Ap Chagi</b> - Chute frontal.</li>
      <li><b>Ap Oligui Chagi</b> - Chute frontal com a perna esticada (subida e descida).</li>
      <li><b>An Chagi</b> - Chute de fora para dentro.</li>
      <li><b>Bakat Chagi</b> - Chute de dentro para fora.</li>
    </ul>

    <h3>Makki <span>(막기)</span> (Técnicas de Defesa):</h3>
    <ul>
      <li><b>Palmok Arae Makki</b> - Defesa com o antebraço na parte baixa (abaixo da cintura).</li>
      <li><b>Palmok Momtong Makki</b> - Defesa com o antebraço na parte média (torso).</li>
      <li><b>Palmok Olgul Makki</b> - Defesa com o antebraço na parte alta (acima dos ombros).</li>
      <li><b>Retchio Arae Makki</b> - Defesa com os dois antebraços (ao mesmo tempo) na parte baixa (abaixo da cintura).</li>
    </ul>

    <h3>Kon Kyok <span>(콜국)</span> (Técnicas de Ataque com os Braços):</h3>
    <ul>
      <li><b>Montong Jireugi</b> - Soco na parte média (torso).</li>
    </ul>

  </div><hr>

  <div>

    <h2>Conhecimento Teórico:</h2>
    <ul>
      <li>O que significa <b>Taekwondo</b>?</li>
      <li>Qual o nome do seu <b>Mestre</b>?</li>
      <li>Qual o nome da sua <b>Escola</b>?</li>
    </ul>

  </div><hr>

  <button (click)="goToGraduations()">Retornar para as Graduações</button>

</div>

