html {
  height: 100%;
  background-image:
    url('../public/wallpaper-fight.png'),
    radial-gradient(circle, #888888, #2b2a2a);
  background-position: top;

  @media screen and (max-width: 720px) {
    background-size: contain;
    background-position: top;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
